:root {
  --active-color: #2196f3;
  --background-color-light: #f5f4fa;
  --background-color-dark: #2f303a;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  --header-color: #212121;
  --icon-color: #afb1b8;
  --logo-top-color: #000;
  --main-color: #fff;
  --text-color: #757575;
  --main-font: 'Roboto', sans-serif;
}

body {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

a,
button {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

* {
  margin: 0;
  padding: 0;
}

/* styles for all pages*/
.container {
  margin: 0 auto;
  width: 1200px;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--active-color);
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.logo__accent {
  color: var(--active-color);
}

.main-button {
  background-color: var(--active-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
}

.section {
  padding: 94px 0;
}

.section__header {
  font-size: 36px;
  line-height: 1.17;
  padding-bottom: 50px;
  text-align: center;
  color: var(--header-color);
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link__container {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__container:hover,
.social-link__container:focus {
  border-radius: 50%;
  background-color: var(--active-color);
}

/* Header */
.container-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__contact {
  display: flex;
  column-gap: 50px;
  margin: 32px 0;
}

.header__contact-icon {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link {
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link:hover .header__contact-icon,
.header__contact-link:focus .header__contact-icon {
  color: var(--active-color);
  fill: var(--active-color);
}

.header__menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-navigation {
  display: flex;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 254px;
}

.header__nav-link {
  color: var(--header-color);
}

.is-active::after {
  content: '';
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
  display: block;
  margin-top: 32px;
}

.logo-header {
  color: var(--logo-top-color);
  margin: 24px 93px 25px 0;
}

/*First section of the main page*/
.banner {
  background-color: var(--background-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid var(--logo-top-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.banner__button {
  margin: 30px 500px 106px;
  padding: 10px 41px;
}

.banner__title {
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin-bottom: 30px;
  padding-top: 106px;
  text-align: center;
  text-transform: uppercase;
}

/*Second section of the main page - LOREM IPSUM*/
.features {
  column-gap: 30px;
  display: flex;
  justify-content: space-between;
}

.feature {
  width: 270px;
}

.feature__description {
  line-height: 1.72;
}

.feature__icon-container {
  background-color: var(--background-color-light);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
}

.feature__title {
  color: var(--header-color);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

/*Third section of the main page - What do we work with*/
.boxes {
  column-gap: 30px;
  display: flex;
  justify-content: space-between;
}

.box {
  position: relative;
  width: 370px;
  height: 294px;
}

.box__img {
  display: inline-block;
}

.box__container {
  position: absolute;
  height: 70px;
  width: 370px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.box__title {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  padding: 27px 0;
  text-align: center;
  text-transform: uppercase;
}

/*Fourth section of the main page - Our Team*/
.employees {
  column-gap: 30px;
  display: flex;
  justify-content: space-between;
}

.employee {
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 0 0 4px 4px;
}

.employee__subtitle {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee__title {
  color: var(--header-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-team {
  background-color: var(--background-color-light);
}

.social-links-employee {
  margin: 15px 32px;
  padding-bottom: 12px;
}

.social-link__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__container:hover .social-link__icon,
.social-link__container:focus .social-link__icon {
  fill: var(--main-color);
}

/*Fifth section of the main page - Our Clients*/
.clients {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.client__container {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__container:hover .client__icon,
.client__container:focus .client__icon {
  fill: var(--active-color);
}

.client__container:hover,
.client__container:focus {
  border-color: var(--active-color);
}

/*Footer*/
.business-card {
  margin: 60px 70px 60px 0;
}

.contacts {
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
}

.contact__item {
  color: rgba(255, 255, 255, 0.6);
}

.contact__place {
  color: var(--main-color);
}

.contact:not(:last-child) {
  margin-bottom: 4.5px;
}

.container-footer {
  display: flex;
}

.footer {
  background-color: var(--background-color-dark);
}

.footer-section {
  margin-top: 72px;
}

.footer-title {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.join-us {
  margin-right: 78px;
}

.join-us__social-link:not(:last-child) {
  margin-right: 10px;
}

.logo-footer {
  color: var(--main-color);
}

.newsletter__button {
  display: flex;
  align-items: center;
  padding: 13px 28px 13px 42px;
}

.newsletter__form {
  display: flex;
}

.newsletter__icon-button {
  fill: var(--main-color);
  margin-left: 24px;
}

.newsletter__input {
  background-color: var(--background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 358px;
}

.newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__input:focus,
.newsletter__input:hover {
  border-color: var(--active-color);
  outline: none;
}

.social-link__container-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.social-link__icon-footer {
  fill: var(--main-color);
}

/* Backdrop */
.backdrop {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.modal {
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  height: 581px;
  width: 528px;
  transition: visibility 950ms ease-in-out, opacity 950ms ease-in-out, transform 950ms ease-in-out;
  transform: translateY(50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.modal__close-btn-container {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.modal__close-btn {
  border: none;
}

.modal__close-btn * {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

.is-hidden,
.is-hidden .modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(0%) scale(0);
}

.order-form {
  padding: 40px;
}

.order-form__button {
  padding: 10px 76px;
  margin: 30px 124px 0;
}

.order-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  padding: 12px 16px;
  resize: none;
  width: 100%;
}

.order-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.order-form__contact-detail {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 11px 0 11px 42px;
}

.order-form__container {
  position: relative;
}

.order-form__contact-detail:focus {
  border-color: var(--active-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__contact-detail:focus-within + .order-form__name-icon {
  fill: var(--active-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__comment:focus {
  border-color: var(--active-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__label {
  color: var(--text-color);
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.16;
  margin-bottom: 4px;
}

.order-form__link {
  color: var(--active-color);
  text-decoration: underline;
}

.order-form__name-icon {
  position: absolute;
  left: 12px;
  top: 29px;
}

.order-form__statement {
  appearance: none;
}

.order-form__statement:checked + .order-form__statement-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-position: center;
  border: none;
}

.order-form__statement-container {
  position: relative;
}

.order-form__statement-label::before {
  display: block;
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--header-color);
  border-radius: 2px;
  top: 3px;
  left: -3px;
}

.order-form__statement-label {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  margin-left: 15px;
}

.order-form__statement-container {
  margin-left: 15px;
  margin-right: 14px;
}

.order-form__title {
  color: var(--header-color);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
}

/* Portfolio page */
.filters {
  column-gap: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.filter__button {
  background-color: var(--background-color-light);
  border: none;
  border-radius: 4px;
  color: var(--header-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.63;
  padding: 6px 22px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--active-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-color);
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  row-gap: 30px;
}

.project {
  background-color: var(--main-color);
  cursor: pointer;
  margin-right: 45px;
}

.project__box {
  border: 1px solid #eee;
  border-top: none;
  width: 370px;
}

.project__img-box {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  background-color: var(--active-color);
  padding: 49px 45px 49px 24px;
}

.project__overlay-text {
  color: var(--main-color);
  line-height: 1.55;
  font-size: 18px;
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  padding: 0 24px 20px;
}

.project__title {
  color: var(--header-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 0;
}

.project:hover .project__overlay {
  transform: translateY(0);
}

.project:hover,
.project:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:nth-child(3n + 3) {
  margin-right: 0px;
}
