/*Fifth section of the main page - Our Clients*/
@use 'general-styles';

%icon-transition {
  @extend %transition-fill;
  @extend %transition-border-color;
}

.clients {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.client__container {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  @extend %icon-transition;

  &:hover,
  &:focus {
    border-color: var(--active-color);
  }

  &:hover .client__icon,
  &:focus .client__icon {
    fill: var(--active-color);
  }
}

.client__icon {
  fill: var(--icon-color);
  @extend %icon-transition;
}
