/*Fourth section of the main page - Our Team*/
.employees {
  column-gap: 30px;
  display: flex;
  justify-content: space-between;
}

.employee {
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 0 0 4px 4px;
}

.employee__social-links {
  margin: 15px 32px;
  padding-bottom: 12px;
}

.employee__subtitle {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee__title {
  color: var(--header-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section--team {
  background-color: var(--background-color-light);
}